$main-color: #0790f6;

  /***** Navigation bar ******/

  .logo a {
  	transition: all 0.1s linear 0s;

  	&:hover {
  		transform: scale3d(1.03,1.03,1.03);
  	}

  	img{
  		max-height: 50px;
  	}

  }

  .window-wrap .global-header .header-logo a .logo {
  	height: 70px;
  }

  .window-wrap .header-global {
  	border-bottom: 1px solid $main-color;

  	.course-header{
  		overflow:hidden;
  		white-space:nowrap;
  		text-overflow: ellipsis;
  	}
  }

 /**** Banner ****/
 .window-wrap .home>header {
 	background: $main-color;
 	background-size: cover;

 	.title {
 		background: #ffffffdb;
 	}

 	.title .course-search .search-button {
 		background: $main-color;
 		border: 2px solid #0079f4;

 		&:hover {
 			background: #2bace6;
 		}
 	}
 }

 /***** Footer *****/
 .window-wrap .wrapper-footer {
 	background: #443f3f;

 	#footer-openedx {

 		.footer-about-openedx a span {
 			color: $main-color;
 			margin: 10px;
 		}

 		.copyright {
 			color: #fff;
 		}

 		.nav-colophon {
 			display: none;
 		}

 		.colophon .nav-legal li a {
 			color: #fff;
 			font-size: 1rem;
 		}

 		.social-feed {
 			display: none;
 		}

 		.footer-icons {
 			display: flex;
 			justify-content: flex-end;
 			flex-direction: column;
 			margin-top: 30px;

 			img:hover {
 				transform: scale3d(1.05,1.05,1.05);
 			}
 		}
 	}

 	.wrapper-logo img {
 		max-height: 50px;
 	}
 }

 body .wrapper-footer {
 	background: #443f3f;

 	#footer-openedx {

 		.footer-about-openedx a span {
 			color: $main-color;
 			margin: 10px;
 		}


 		.copyright {
 			color: #fff;
 		}

 		.nav-colophon {
 			display: none;
 		}

 		.colophon .nav-legal li a {
 			color: #fff;
 			font-size: 1rem;
 		}

 		.social-feed {
 			display: none;
 		}

 		.footer-icons {
 			display: flex;
 			justify-content: flex-end;
 			flex-direction: column;
 			margin-top: 30px;

 			img {
 				transition: transform .3s ease;

 				&:hover {
 					transform: scale3d(1.05,1.05,1.05);
 				}
 			}
 		}
 	}

 	.wrapper-logo img {
 		max-height: 50px;
 	}
 }

/***** Dashboardh ****/
.dashboard .search-bar .search-button {
	background: $main-color;
	border: 2px solid #0079f4;

	&:hover{
		background: #2bace6;
		border: 2px solid #0079f4;
	}
}

 /**** COurses ***/
 .window-wrap .find-courses .discovery-submit{
 	background: $main-color;
 	border: 2px solid #0079f4;

 	&:hover{
 		background: #2bace6;
 	}
 }

 /**** Course content ****/
 body.view-in-course.view-courseware .window-wrap {
 	min-width: 0;
 }

 html body.view-in-course .window-wrap{
 	min-width: 0;
 }

 .window-wrap{
 	.page-content .welcome-message img,
 	.page-content .welcome-message iframe,
 	.section-handouts img,
 	.section-handouts iframe {
 		max-width: 100%;
 	}
 } 

 /**** Course info ***/
 .content-wrapper {
 	.container .home {
 		padding: 0;
 		max-width: 1180px;

 		.page-header-main {
 			padding: 20px 20px 10px 20px;
 		}
 	}
 }

 .content-wrapper .heading-group button {
 	display: none;
 }

/**** Wiki ****/

body.view-in-course.view-wiki .window-wrap {
	min-width: 0;

}

/***** Instructor ***/
body.view-in-course.view-instructordash .window-wrap {
	min-width: 0;
}

/*** Profile ***/
.view-profile .content-wrapper .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy {
	min-width: 0;
}

/** Course about **/
.content-wrapper .course-info header.course-profile .intro-inner-wrapper {
	min-width: 0;
}

/****** Responsive ****/
@media only screen and (max-width: 576px) {

	.window-wrap {
		.header-global {
			height: 130px;
		}

		div.info-wrapper section.handouts {
			padding: 0;
		}

		.course-header {
			width: 65%;
		}

		.dashboard .my-courses .course .details {

			.course-title a {
				font-size: 25px;
				line-height: 25px;
			} 

			.wrapper-course-image {
				width: 100%;

				.cover{
					margin: 20px;

					.course-image {
						height: 120px;
						width: 180px;
					}
				} 
			} 

			.wrapper-course-details {
				float: none;
				width: 100%;
			}

		}

		.course-info .course-sidebar header .social-sharing {
			height: 70px;
		}

		.course-info {

			.container {
				padding: 25px;
			}

			.details {
				width: 100%;
			}

			.course-sidebar {
				width: 100%;
				padding: 10px;
			} 

			header.course-profile {
				padding-top: 70px;
				height: 500px;

				.intro-inner-wrapper {
					margin: 25px;

					.intro {
						display: block;
						width: 100%;
					}

					.media {
						display: block;
						width: 100%;
						text-align: center;
						text-align: -webkit-center;

						.hero {
							width: 70%;
						}
					}

				} 
			} 
		}

		.wrapper-account-settings .account-settings-container {
			padding: 20px;
		}

		.account-settings-sections .section .account-settings-section-body .u-field {
			width: 100%;

			.field {
				width: 100%;
			}

			.u-field-message {
				width: 100%;
				padding: 10px 0;
			}
		}

		.wrapper-footer #footer-openedx .footer-icons {
			float: none;

			a {
				padding: 15px 25px;
			}
		}

		.wiki-wrapper section.wiki {
			.breadcrumbs-header {
				height: 42px;
			}

			.main-article {
				width: 100%;
			}

			.article-functions {
				width: 100%;
			}
		} 
	}

	body .wrapper-footer #footer-openedx .footer-icons {
		float: none;

		a {
			padding: 15px 25px;
		}
	}	
}

@media only screen and (max-width: 768px) {

	.window-wrap {

		.container {
			min-width: 0;

			.search-responsive {
				width: 90%;
				float: none;
			}

			.my-courses {
				width: 90%;
				margin-left: 5%;
			}
		}

		.header-global.slim {
			height: 130px;
		}

		.xmodule_display.xmodule_SequenceModule .sequence-nav {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			height: auto;
			margin: 0 auto;

			.sequence-nav-button.button-previous,
			.sequence-nav-button.button-next {
				margin: .75rem 0;
				border-radius: 3px;
				-webkit-flex: 0 0 100%;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				min-height: 44px;
			}

			.sequence-list-wrapper {	    	
				-webkit-flex: 0 0 100%;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				min-height: 44px;
			}

			ol {
				position: relative;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			}

			li {
				-webkit-flex-grow: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				min-width: 52px;
				border-right-style: solid;

				&:first-child {
					border-left-style: solid;
				}
			}
		}

		.discussion-body .home-helpgrid .helpgrid-row {
			display: flex;
			flex-flow: column;

			.row-item {
				width: 100%;
				padding: 10px;
			}
		}  

	}

	.view-in-course.view-course-info .window-wrap {
		min-width: 70px;
	}

	.wrapper-footer footer#footer-openedx .footer-about-openedx {
		width: 100%;
		display: flex;
    justify-content: center;
	}


}

@media only screen and (max-width: 336px){
	body .window-wrap .header-global.slim {
		height: 200px
	}
	body .window-wrap .header-global {
		height: 150px;
	}
}

// Contact form
.contact-form {
	.contact-form-field {
		display: flex;

		label {
			font-style: normal;
			margin-top: 5px;
			font-weight: bold;
		}

		input,
		textarea {
			width: 100%;
			font-style: normal;
		}
	}

	.contact-form-submit {
		margin-top: 20px;
		background-color: $main-color;
		color: #fff;
		border: 1px solid #fff;
		font-weight: 400;
		box-shadow: none;
		background-image: none;
		text-shadow: none;
		letter-spacing: normal;
		transition: all 0.1s linear 0s;

		&:hover {
			background-color: #fff !important;
			color: $main-color;
			border-color: $main-color;
			background-image: none !important;
		}
	}
} 
